.form__button_theme_dark {
    width: 260px;
    background-color: #ffffff;
    color: #000000;
    margin-top: 145px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

.form__button_theme_dark:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (min-width: 1024px) {
    .form__button_theme_dark {
        margin-top: 184px;
        margin-bottom: 14px;
        /*min-width: 358px;*/
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    
    }
}